.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 50px;
  justify-items: stretch;

  @media (max-width: 1024px) {
    grid-template-columns: auto auto;
  }

  @media (max-width: 700px) {
    grid-template-columns: auto;
  }
}
