.home-container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.home-button{
  text-align: center;
}

.home-button-redirect {
  width: 200px;
  height: 200px;
  color: #fff;
  font-weight: 600;
  font-size: large;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  position: relative;
  isolation: isolate;
  background-image: url("Rustdesk.png");
}

.home-button-redirect:after{
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background: rgb(72, 72, 151);  
  border-radius: 10%;
  opacity: 1;
}

.home-button-redirect:hover:after{
  transition: opacity 1s;  
  opacity: 0;
}