.myContainer1 {
  background: rgb(244, 244, 249);
  width: 90%;
  height: 100%;
  margin: 50px 5% 0 5%;
  padding: 10px;

  border: 1px solid;
  border-color: rgb(9, 2, 46);
  border-radius: 30px;
}

.myContainer2 {
  background: #fff;
  width: 90%;
  height: 100%;
  margin: 50px 5% 0 5%;
  padding: 10px;

  border: none;
  border-radius: 30px;
}
