.divGa {
  margin-top: 25px;
  justify-content: center;

  .inputText {
    font-size: 20px;
  }
}

.width-10 {
  width: 10%;
  justify-content: center;
}

@media (max-width: 1000px) {
  .width-10 {
    width: 20%;
    justify-content: center;
  }
}